/* -----------------------Book Demo Page Css----------------- */

/* ---------------------------Top Section Css------------------------ */
.bookdemo {
    padding: 15%;

}

/* ---------------------------Calendar Section Css-------------------------- */
.calendar_div {
    line-height: 25px;
    margin: auto;
    width: 90%;
    height: auto;
    border-radius: 20px;
    padding: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.calendar_div .head {
    /* border: 2px solid red; */
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
    
}

/* -----------------------Demo Section Css------------------------------- */
.demo {
    text-align: left;
    line-height: 40px;
}


/* --------------------------------- Middle Section-------------------------------------- */
.middleSection {
    margin-bottom: 90px;
    
}

.background {
    width: 100%;
    background-color: #25CF60;
    height: 400px;
    padding: 25px;
    /* border: 5px solid pink; */
    margin-bottom:  25%;
}
.background h1 {
    color: white;
    font-weight: bold;
    font-size: large;
    
}
.background .images {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}
.review_container {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    text-align: left;
    /* border: 5px solid pink; */
    
}
.review_card {
    width: 20%;
    background-color: white;
    height: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;

}
.review_card p{
    font-size: medium;
    margin-bottom: 50px;
}
.review_card h5, span {
    color: grey;
    font-weight: bold;
    margin-bottom: 50px;
}

/* -----------------------------------Bottom Section CSS--------------------------- */
.bottom_section {
    margin: auto;
    padding: 5%;
    text-align: center;
    background-image: linear-gradient(white, white, white, white, rgb(202, 202, 215));
    /* border: 5px solid green; */
}
 .bottom_section h3 {
    color: #25CF60;
    font-weight: bold;
    margin-bottom: 3%;
}
.bottom_section h1 {
    font-weight: bolder;
    font-size: 200%;
    
} 
.video_box {
    width: 60%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 3%;
}
.cards {
    display:flex;   
    justify-content: space-between;
    padding: 50px;
    /* border: 2px solid green; */
}
.small_cards {
    width: 22%;
    margin: auto;
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding: 2%;
    background-color: white;
    /* border: 2px solid green; */
}
.small_cards div {
    width: 30%;
    margin: auto;
    margin-bottom: 10%;
   
}
.small_cards p {
    font-size: larger;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
}


